@media (max-width:670px){
  /*Ubah width milik lesson ke 100%
  .lesson{
    width: 100%;
  }
  /*Ubah text-align property milik footer{
    text-align: center;
  }
}
.btn {
  width: 100%;
}
.facebook {
  margin-bottom: 10px;
}
.top-wrapper{
  text-align: left;
  padding-top: 130px;
}
  
