h1{
  color:red;
}
h1{
  color:#ff0000;
}

p{
  color:#0000ff;
}
h1{
  color: #ff0000;
  font-size:40px;
  font-family:serif;
}
h1{
  color: #e6855e;
  font-size: 30px;
  background-color: #f3f372;
  height:80px;
  width:200px;
}
img{
  height:50px;
  width:70px;
}
li{
  color: #444
}
.selected{
  color:red
}
li{
  list-style: none;
  float:left;
}
.header-logo{
  float:left;
}
.header-logo{
  float.right;
}
.logo1{
  padding:20px;
}
.logo1{
padding-top:20px;
padding-right:10px;
padding-bottom:20px;
padding-left:10px;
}


.footer{
  background-color:#2f5167;
  color:#fff;
  height:120px;
  padding:40px;
}
.footer-logo{
  font-size: 32px;
  float: left;
}
.footer-list{
  float: right;
}
.footer-list li{
  padding-bottom:2 20px;
}
