h1{
  color:red;
}
h1{
  color:#ff0000;
}

p{
  color:#0000ff;
}
h1{
  color: #ff0000;
  font-size:40px;
  font-family:serif;
}
h1{
  color: #e6855e;
  font-size: 30px;
  background-color: #f3f372;
  height:80px;
  width:200px;
}
img{
  height:50px;
  width:70px;
}
li{
  color: #444
}
.selected{
  color:red
}
li{
  list-style: none;
  float:left;
}
.header-logo{
  float:left;
}
.header-logo{
  float.right;
}
.logo1{
  padding:20px;
}
.logo1{
padding-top:20px;
padding-right:10px;
padding-bottom:20px;
padding-left:10px;
}
.logo{
  padding:20px 10px 20px 10px;
}
.logo1{
  padding:20px 10px;
}

.footer{
  background-color:#2f5167;
  color:#fff;
  height:120px;
  padding:40px;
}
.footer-logo{
  font-size: 32px;
  float: left;
}
.footer-list{
  float: right;
}
.footer-list li{
  padding-bottom:2 20px;
}

.main{
  padding:100px 80px;
}
.copy-container h1{
  font-size:140px;
}
.copy-container h2{
  font-size:60px;
}
.copy-container span{
  color:#ff4a4a
}
.contents{
  height:500px;
}
.section-title{
  border-bottom:2px solid #dee7ec;
}
.contents-item{
  float:left;
}

.contents{
  height:500px;
  margin-top:100px;
}
.section-title{
  border-bottom:2px solid #dee7ec
  font-size:28px;
  padding-bottom:15px;
  margin-bottom:50px;
}
.contents-item{
  float:left;
  margin-right:40px;
}
.contents-item{
  font-size:24px;
  margin-top:30px;
}
.footer{
  backgrond-color:#cec;
  height:270px;
}

.container {
  widht:1170px;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
}
.main {
  padding:180px 0 100px 0;
  background-image:url("https://prog-8.com/images/html/advanced/top_en.png");
  background-size:cover;
  color:white;
}
